/**
* Estilos do componente Smiley
*/

.smiley-container {
  padding-top: 2rem;  
}
  .smiley-container .card{
    -webkit-box-shadow: 5px 7px 5px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    5px 7px 5px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         5px 7px 5px 0px rgba(50, 50, 50, 0.1);
    transition: box-shadow 1s ease-in;
  }
  
  .smiley-container .card:hover{
    -webkit-box-shadow: 8px 6px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    8px 6px 5px 0px rgba(138, 70, 70, 0.75);
    box-shadow:         8px 6px 5px 0px rgba(50, 50, 50, 0.75);
  }

.smiley{
  flex: 1;
  font-size: 20rem;
  margin-bottom: 0.8rem;
}

.smiley > a {
  text-decoration: none;
  display: inline-block;     
  position: relative;    
  z-index: 1;     
  padding: 0.3em;     
  margin: -2em;
}

.smiley-triste{
  transform: scale(1);
  animation: pulse 0.5s infinite;
}

.smiley-feliz{
  transform: scale(1);
  animation: pulse 2.5s infinite;
}

.smiley-normal{
  transform: scale(1);
  animation: pulse 1.5s infinite ease-in;
}

  @keyframes pulse {
    0% {
      transform: scale(0.95);
    }
  
    70% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0.95);
    }
  }

  .humorLabel{
    flex: 1
  }